workflows/zeven/amtPFKse6qAvbNFg.json
{
  "active": false,
  "connections": {
    "META ZEVEN": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "META ZEVEN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-17T14:42:28.746Z",
  "id": "amtPFKse6qAvbNFg",
  "isArchived": false,
  "meta": null,
  "name": "prueba tokens",
  "nodes": [
    {
      "parameters": {
        "url": "https://mt-provisioning-api-v1.agiliumtrade.agiliumtrade.ai/users/current/provisioning-profiles",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        -160
      ],
      "id": "31d696a8-01a4-4a59-a318-fbc4149f511b",
      "name": "META NEO",
      "credentials": {
        "httpHeaderAuth": {
          "id": "9MMS8lTujvlmieqv",
          "name": "META API TOKEN NEO"
        }
      }
    },
    {
      "parameters": {
        "url": "https://mt-provisioning-api-v1.agiliumtrade.agiliumtrade.ai/users/current/accounts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "id": "b6a2bff6-7b7f-4cd5-a3a6-c97b308d79a0",
      "name": "META ZEVEN",
      "credentials": {
        "httpHeaderAuth": {
          "id": "8u20dlP7ndo4urwE",
          "name": "META API TOKEN ZEVEN"
        }
      }
    },
    {
      "parameters": {
        "url": "https://mt-manager-api-v1.new-york.agiliumtrade.ai/users/current/mt5/provisioning-profiles/d15b3921-8075-41fb-9f7c-a57b470a2ab6/groups/demo%5CZevenF%5CS1-G1-SN-USD/accounts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        300
      ],
      "id": "d8fa3241-2499-47b4-8806-9516f06240d3",
      "name": "META ZEVEN1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "8u20dlP7ndo4urwE",
          "name": "META API TOKEN ZEVEN"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7d6893e1-3383-48ab-8547-95a637b43dea",
              "leftValue": "={{ $json.state }}",
              "rightValue": "DEPLOYED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        440,
        0
      ],
      "id": "6250f4fa-ba04-4c23-833a-13ee4e49803d",
      "name": "Filter"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "1cd74802-12ec-43a5-ad97-5b1fb1607c85",
      "name": "When clicking ‘Test workflow’"
    }
  ],
  "pinData": {},
  "repo_name": "n8n_workflows",
  "repo_owner": "EliteCodeDev",
  "repo_path": "workflows/zeven/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-05-22T22:38:12.000Z",
  "versionId": "860e2dec-b47f-4570-8b2e-6e1b93ee64a6"
}