workflows/zeven/Rc56PyGUpepW0C7J.json
{
  "active": false,
  "connections": {
    "Global Constants": {
      "main": [
        [
          {
            "node": "Buscar el usuario de la compra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar el usuario de la compra": {
      "main": [
        [
          {
            "node": "Parsear el Producto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crea challenge Con todas sus relaciones": {
      "main": [
        [
          {
            "node": "Colocar Parent ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Es un Challenge?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Notificar Broker Faltante",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Comprobar Balance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear el Producto": {
      "main": [
        [
          {
            "node": "obtener broker disponible",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar broker": {
      "main": [
        [
          {
            "node": "Crea challenge Con todas sus relaciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Colocar Parent ID": {
      "main": [
        [
          {
            "node": "Enviar Email de creacion exitosa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Email de creacion exitosa": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar Broker Faltante": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Relation": {
      "main": [
        [
          {
            "node": "Definir phase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Definir phase": {
      "main": [
        [
          {
            "node": "Actualizar broker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Chequear Orden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chequear Orden": {
      "main": [
        [
          {
            "node": "Compra Rechazada?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compra Aprobada?": {
      "main": [
        [
          {
            "node": "Global Constants",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Compra Rechazada?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Iterations": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "30 Veces": {
      "main": [
        [
          {
            "node": "Split Iterations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fue Aprobada?": {
      "main": [
        [
          {
            "node": "Global Constants",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "obtener broker disponible": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comprobar Balance": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Obtener Relation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Asignar Balance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asignar Balance": {
      "main": [
        [
          {
            "node": "Obtener Relation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compra Rechazada?1": {
      "main": [
        [],
        [
          {
            "node": "Fue Aprobada?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compra Rechazada?": {
      "main": [
        [],
        [
          {
            "node": "30 Veces",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es un Challenge?": {
      "main": [
        [
          {
            "node": "Compra Aprobada?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-12T22:49:32.743Z",
  "id": "Rc56PyGUpepW0C7J",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "APP: Comprar un Challenge",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-globals.globalConstants",
      "typeVersion": 1,
      "position": [
        300,
        -140
      ],
      "id": "8da6b177-0580-4e16-8c54-a2c2094677c0",
      "name": "Global Constants",
      "credentials": {
        "globalConstantsApi": {
          "id": "xD5yrF0WiFvNSDFv",
          "name": "Global Constants account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.constants.API_INTERNAL_URL }}/users?filters[documentId][$eq]={{ $('Webhook').item.json.body.user_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "strapiTokenApi",
        "options": {}
      },
      "id": "c9db70ff-de1c-4e4b-b30d-b7b58cde7b60",
      "name": "Buscar el usuario de la compra",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        -140
      ],
      "alwaysOutputData": true,
      "executeOnce": false,
      "credentials": {
        "strapiTokenApi": {
          "id": "fdl2l1uCV5LNbN3K",
          "name": "Strapi Token account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Global Constants').item.json.constants.API_INTERNAL_URL }}/challenges",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "strapiTokenApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "= {\n  \"data\": {\n    \"phase\": {{ $('Definir phase').item.json.fase }},\n    \"result\": \"init\",\n    \"user\": {{ $('Buscar el usuario de la compra').item.json.id }},\n    \"broker_account\":\"{{ $json.data.documentId }}\",\n    \"challenge_relation\":\"{{ $('Webhook').item.json.body.document_id }}\",\n    \"wc_order\":\"{{ $('Webhook').item.json.body.id }}\"\n  }\n}",
        "options": {}
      },
      "id": "24fe0ef5-47d2-4c6e-b7f7-81d4557fc980",
      "name": "Crea challenge Con todas sus relaciones",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2700,
        -60
      ],
      "credentials": {
        "strapiTokenApi": {
          "id": "fdl2l1uCV5LNbN3K",
          "name": "Strapi Token account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "ZevenGlobal <support@zevenglobalfunding.com>",
        "toEmail": "={{ $('Webhook').item.json.body.billing.email }}",
        "subject": " Your challenge is ready to use",
        "html": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Your Challenge is Ready to Use - ZevenGlobal</title>\n    <style>\n        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');\n        \n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n            font-family: 'Montserrat', sans-serif;\n        }\n        \n        body {\n            background-color: #f0f5ff;\n            padding: 40px 20px;\n        }\n        \n        .email-container {\n            max-width: 650px;\n            margin: 0 auto;\n            background: #0a1a35;\n            border-radius: 16px;\n            overflow: hidden;\n            box-shadow: 0 12px 30px rgba(0, 65, 158, 0.2);\n        }\n        \n        .top-header {\n            background-color: #0a1730;\n            padding: 15px 0;\n            text-align: center;\n            border-bottom: 1px solid rgba(100, 150, 255, 0.2);\n        }\n        \n        .top-header img {\n            max-width: 120px;\n            height: auto;\n        }\n        \n        .hero-section {\n            background-color: #101f3d;\n            padding: 30px 20px;\n            text-align: center;\n            color: white;\n        }\n        \n        .hero-section h1 {\n            font-size: 24px;\n            margin-bottom: 10px;\n            color: #27ae60;\n            font-weight: 700;\n        }\n        \n        .hero-section p {\n            font-size: 15px;\n            line-height: 1.5;\n            max-width: 450px;\n            margin: 0 auto;\n            color: #b4c9ff;\n        }\n        \n        .content {\n            padding: 30px 25px;\n            position: relative;\n        }\n        \n        .notification-icon {\n            text-align: center;\n            margin-bottom: 15px;\n        }\n        \n        .notification-icon svg {\n            width: 40px;\n            height: 40px;\n            fill: #27ae60;\n        }\n        \n        .notification-card {\n            position: relative;\n            z-index: 1;\n            background: rgba(18, 37, 73, 0.9);\n            border-radius: 10px;\n            padding: 25px 20px;\n            margin-bottom: 25px;\n            border: 1px solid rgba(39, 174, 96, 0.3);\n            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);\n        }\n        \n        .notification-card h2 {\n            color: white;\n            font-size: 20px;\n            margin-bottom: 15px;\n            padding-bottom: 12px;\n            border-bottom: 1px solid rgba(39, 174, 96, 0.2);\n            text-align: center;\n        }\n        \n        .notification-message {\n            color: white;\n            text-align: center;\n            margin-bottom: 20px;\n            font-size: 15px;\n            line-height: 1.5;\n        }\n        \n        .info-item {\n            display: flex;\n            align-items: center;\n            padding: 12px 0;\n            border-bottom: 1px solid rgba(100, 150, 255, 0.1);\n        }\n        \n        .info-item:last-child {\n            border-bottom: none;\n        }\n        \n        .info-label {\n            color: #7e9bff;\n            font-weight: 500;\n            font-size: 14px;\n            width: 40%;\n            padding-right: 15px;\n        }\n        \n        .info-value {\n            color: white;\n            font-weight: 600;\n            font-size: 15px;\n            background-color: rgba(39, 174, 96, 0.1);\n            padding: 8px 12px;\n            border-radius: 4px;\n            border: 1px solid rgba(39, 174, 96, 0.2);\n            word-break: break-word;\n            width: 60%;\n            flex-grow: 1;\n        }\n        \n        .action-button {\n            display: block;\n            background-color: #27ae60;\n            color: white;\n            text-decoration: none;\n            padding: 14px 20px;\n            border-radius: 6px;\n            font-size: 16px;\n            font-weight: 600;\n            text-align: center;\n            margin: 20px auto 10px;\n            max-width: 250px;\n            transition: all 0.3s ease;\n            box-shadow: 0 4px 8px rgba(39, 174, 96, 0.3);\n        }\n        \n        .action-button:hover {\n            background-color: #219a52;\n        }\n        \n        .footer {\n            background-color: #0a1730;\n            padding: 20px;\n            text-align: center;\n            color: #7e9bff;\n            font-size: 13px;\n            border-top: 1px solid rgba(100, 150, 255, 0.2);\n        }\n        \n        .social-links {\n            margin: 12px 0;\n        }\n        \n        .social-links a {\n            display: inline-block;\n            width: 30px;\n            height: 30px;\n            background-color: rgba(100, 150, 255, 0.15);\n            border-radius: 50%;\n            margin: 0 5px;\n            line-height: 30px;\n            color: #7e9bff;\n            text-align: center;\n        }\n        \n        .social-icon {\n            width: 16px;\n            height: 16px;\n            vertical-align: middle;\n        }\n        \n        @media (max-width: 480px) {\n            .email-container {\n                border-radius: 10px;\n            }\n            \n            .top-header img {\n                max-width: 100px;\n            }\n            \n            .hero-section h1 {\n                font-size: 20px;\n            }\n            \n            .hero-section p {\n                font-size: 14px;\n            }\n            \n            .notification-card {\n                padding: 20px 15px;\n            }\n            \n            .info-item {\n                flex-direction: column;\n                align-items: flex-start;\n            }\n            \n            .info-label {\n                width: 100%;\n                margin-bottom: 6px;\n            }\n            \n            .info-value {\n                width: 100%;\n            }\n            \n            .action-button {\n                width: 100%;\n                padding: 12px 15px;\n                font-size: 15px;\n            }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"email-container\">\n        <div class=\"top-header\">\n            <img src=\"{{ $('Global Constants').item.json.constants.IMAGE_URL}}\" alt=\"ZevenGlobal Logo\">\n        </div>\n        \n        <div class=\"hero-section\">\n            <h1>Your Challenge is Ready to Use</h1>\n            <p>We have configured your challenge and you can now start trading. Here are your access credentials.</p>\n        </div>\n        \n        <div class=\"content\">\n            <div class=\"notification-icon\">\n                <svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 512 512\">\n                    <path d=\"M256 48C141.1 48 48 141.1 48 256s93.1 208 208 208 208-93.1 208-208S370.9 48 256 48zm-30.7 258.7L158.6 368l30.2 30.2L256 330.9l67.2 67.2 30.2-30.2-97.9-97.9-30.2 30.7zm4.9-117.9v29l22.8-22.8 22.8 22.8v-29h38.9v-30.8h-38.9l-22.8-22.8-22.8 22.8h-38.9v30.8h38.9z\"/>\n                </svg>\n            </div>\n            \n            <div class=\"notification-card\">\n                <h2>Access Credentials</h2>\n                \n                <div class=\"notification-message\">\n                    <p>Use these credentials to log in to the trading platform and start your challenge.</p>\n                </div>\n                \n                <div class=\"info-item\">\n                    <span class=\"info-label\">Login</span>\n                    <span class=\"info-value\">{{ $('obtener broker disponible').item.json.data[0].login }}</span>\n                </div>\n                \n                <div class=\"info-item\">\n                    <span class=\"info-label\">Password</span>\n                    <span class=\"info-value\">{{ $('obtener broker disponible').item.json.data[0].password }}</span>\n                </div>\n                \n                <div class=\"info-item\">\n                    <span class=\"info-label\">Server</span>\n                    <span class=\"info-value\">{{ $('obtener broker disponible').item.json.data[0].server }}</span>\n                </div>\n                \n                <div class=\"info-item\">\n                    <span class=\"info-label\">Platform</span>\n                    <span class=\"info-value\">{{ $('obtener broker disponible').item.json.data[0].platform }}</span>\n                </div>\n            </div>\n            \n            <p style=\"color: white; text-align: center; margin-bottom: 15px; font-size: 14px;\">To see more details about your challenge and begin trading, please log in to your dashboard.</p>\n            \n            <a href=\"{{ $('Global Constants').item.json.constants.WEBAPP_URL}}\" target=\"_blank\" class=\"action-button\">VIEW DASHBOARD</a>\n        </div>\n        \n        <div class=\"footer\">\n            <p>© 2025 ZevenGlobal - All rights reserved</p>\n            <div class=\"social-links\">\n                <a href=\"#\">\n                    <img class=\"social-icon\" src=\"https://cdn-icons-png.flaticon.com/512/124/124010.png\" alt=\"Facebook\">\n                </a>\n                <a href=\"#\">\n                    <img class=\"social-icon\" src=\"https://cdn-icons-png.flaticon.com/512/124/124021.png\" alt=\"Twitter\">\n                </a>\n                <a href=\"#\">\n                    <img class=\"social-icon\" src=\"https://cdn-icons-png.flaticon.com/512/174/174855.png\" alt=\"Instagram\">\n                </a>\n            </div>\n            <p>If you have any questions, contact us at <a href=\"mailto:{{ $('Global Constants').item.json.constants.EMAIL }}\" style=\"color: #3a9fff; text-decoration: none;\">{{ $('Global Constants').item.json.constants.EMAIL }}</a></p>\n        </div>\n    </div>\n</body>\n</html>\n",
        "options": {}
      },
      "id": "5b827808-d6c4-4e28-a162-4685c698e358",
      "name": "Enviar Email de creacion exitosa",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        3120,
        -60
      ],
      "webhookId": "36ea56b3-a189-45eb-8afa-96dbb4a62b69",
      "credentials": {
        "smtp": {
          "id": "ZS9NhafTpi5LRpMH",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "purcharse",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1320,
        -260
      ],
      "id": "6c44a71a-0ac1-41c1-8f78-f31b04bbbdf5",
      "name": "Webhook",
      "webhookId": "fbe39cb1-fcd7-4a3a-be0b-dde4483f881e"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6590589c-d497-461a-800e-b8a255984dd3",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1200,
        -140
      ],
      "id": "264a343c-0d0b-41c7-a082-8caa29d32eab",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "function convertBalance(balanceStr) {\n  // Convertir la cadena a minúsculas y quitar espacios al inicio y final\n  const s = balanceStr.trim().toLowerCase();\n  \n  // Expresión regular para capturar la parte numérica y el sufijo \"k\" (si existe)\n  const match = s.match(/^(\\d+(?:\\.\\d+)?)(k)?/);\n  if (!match) {\n    throw new Error('Valor inválido');\n  }\n  \n  // Convertir la parte numérica a un número\n  const numberValue = parseFloat(match[1]);\n  if (isNaN(numberValue)) {\n    throw new Error('Valor inválido');\n  }\n  \n  // Si se encontró \"k\", establecer el multiplicador en 1000\n  const multiplier = match[2] === 'k' ? 1000 : 1;\n  \n  return numberValue * multiplier;\n}\n\nreturn ({\"balance\": convertBalance($('Webhook').first().json.body.line_items[0].sku)})"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        -140
      ],
      "id": "00847aaf-66c5-491e-881c-860145c97456",
      "name": "Parsear el Producto"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $('Global Constants').item.json.constants.API_INTERNAL_URL }}/broker-accounts/{{ $('obtener broker disponible').item.json.data[0].documentId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "strapiTokenApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=  {\n  \"data\":{\n  \"used\":true,\n  \"balance\":\"{{ $('Parsear el Producto').item.json.balance }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2480,
        -60
      ],
      "id": "c72fee22-0016-4491-a5fa-c76fd4209806",
      "name": "Actualizar broker",
      "credentials": {
        "strapiTokenApi": {
          "id": "fdl2l1uCV5LNbN3K",
          "name": "Strapi Token account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $('Global Constants').item.json.constants.API_INTERNAL_URL }}/challenges/{{ $json.data.documentId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "strapiTokenApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\":{\n    \"parentId\":\"{{ $json.data.documentId }}\"\n  }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2920,
        -60
      ],
      "id": "7a439aa7-7471-430d-bcb5-5946a8e6fce0",
      "name": "Colocar Parent ID",
      "credentials": {
        "strapiTokenApi": {
          "id": "fdl2l1uCV5LNbN3K",
          "name": "Strapi Token account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "={{ $('Global Constants').item.json.constants.EMAIL }}",
        "toEmail": "={{ $('Global Constants').item.json.constants.EMAIL }}",
        "subject": " Missing Broker Account",
        "html": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Missing Broker Account - ZevenGlobal</title>\n    <style>\n        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');\n        \n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n            font-family: 'Montserrat', sans-serif;\n        }\n        \n        body {\n            background-color: #f0f5ff;\n            padding: 40px 20px;\n        }\n        \n        .email-container {\n            max-width: 650px;\n            margin: 0 auto;\n            background: #0a1a35;\n            border-radius: 16px;\n            overflow: hidden;\n            box-shadow: 0 12px 30px rgba(0, 65, 158, 0.2);\n        }\n        \n        .top-header {\n            background-color: #0a1730;\n            padding: 15px 0;\n            text-align: center;\n            border-bottom: 1px solid rgba(100, 150, 255, 0.2);\n        }\n        \n        .top-header img {\n            max-width: 120px;\n            height: auto;\n        }\n        \n        .hero-section {\n            background-color: #101f3d;\n            padding: 30px 20px;\n            text-align: center;\n            color: white;\n        }\n        \n        .hero-section h1 {\n            font-size: 24px;\n            margin-bottom: 10px;\n            color: #f39c12;\n            font-weight: 700;\n        }\n        \n        .hero-section p {\n            font-size: 15px;\n            line-height: 1.5;\n            max-width: 450px;\n            margin: 0 auto;\n            color: #b4c9ff;\n        }\n        \n        .content {\n            padding: 30px 25px;\n            position: relative;\n        }\n        \n        .notification-icon {\n            text-align: center;\n            margin-bottom: 15px;\n        }\n        \n        .notification-icon svg {\n            width: 40px;\n            height: 40px;\n            fill: #f39c12;\n        }\n        \n        .notification-card {\n            position: relative;\n            z-index: 1;\n            background: rgba(18, 37, 73, 0.9);\n            border-radius: 10px;\n            padding: 25px 20px;\n            margin-bottom: 25px;\n            border: 1px solid rgba(243, 156, 18, 0.3);\n            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);\n        }\n        \n        .notification-card h2 {\n            color: white;\n            font-size: 20px;\n            margin-bottom: 15px;\n            padding-bottom: 12px;\n            border-bottom: 1px solid rgba(243, 156, 18, 0.2);\n            text-align: center;\n        }\n        \n        .notification-message {\n            color: white;\n            text-align: center;\n            margin-bottom: 20px;\n            font-size: 15px;\n            line-height: 1.5;\n        }\n        \n        .info-item {\n            display: flex;\n            align-items: center;\n            padding: 12px 0;\n            border-bottom: 1px solid rgba(100, 150, 255, 0.1);\n        }\n        \n        .info-item:last-child {\n            border-bottom: none;\n        }\n        \n        .info-label {\n            color: #7e9bff;\n            font-weight: 500;\n            font-size: 14px;\n            width: 40%;\n            padding-right: 15px;\n        }\n        \n        .info-value {\n            color: white;\n            font-weight: 600;\n            font-size: 15px;\n            background-color: rgba(243, 156, 18, 0.1);\n            padding: 8px 12px;\n            border-radius: 4px;\n            border: 1px solid rgba(243, 156, 18, 0.2);\n            word-break: break-word;\n            width: 60%;\n            flex-grow: 1;\n        }\n        \n        .action-button {\n            display: block;\n            background-color: #f39c12;\n            color: white;\n            text-decoration: none;\n            padding: 14px 20px;\n            border-radius: 6px;\n            font-size: 16px;\n            font-weight: 600;\n            text-align: center;\n            margin: 20px auto 10px;\n            max-width: 250px;\n            transition: all 0.3s ease;\n            box-shadow: 0 4px 8px rgba(243, 156, 18, 0.3);\n        }\n        \n        .action-button:hover {\n            background-color: #e67e22;\n        }\n        \n        .footer {\n            background-color: #0a1730;\n            padding: 20px;\n            text-align: center;\n            color: #7e9bff;\n            font-size: 13px;\n            border-top: 1px solid rgba(100, 150, 255, 0.2);\n        }\n        \n        .social-links {\n            margin: 12px 0;\n        }\n        \n        .social-links a {\n            display: inline-block;\n            width: 30px;\n            height: 30px;\n            background-color: rgba(100, 150, 255, 0.15);\n            border-radius: 50%;\n            margin: 0 5px;\n            line-height: 30px;\n            color: #7e9bff;\n            text-align: center;\n        }\n        \n        .social-icon {\n            width: 16px;\n            height: 16px;\n            vertical-align: middle;\n        }\n        \n        @media (max-width: 480px) {\n            .email-container {\n                border-radius: 10px;\n            }\n            \n            .top-header img {\n                max-width: 100px;\n            }\n            \n            .hero-section h1 {\n                font-size: 20px;\n            }\n            \n            .hero-section p {\n                font-size: 14px;\n            }\n            \n            .notification-card {\n                padding: 20px 15px;\n            }\n            \n            .info-item {\n                flex-direction: column;\n                align-items: flex-start;\n            }\n            \n            .info-label {\n                width: 100%;\n                margin-bottom: 6px;\n            }\n            \n            .info-value {\n                width: 100%;\n            }\n            \n            .action-button {\n                width: 100%;\n                padding: 12px 15px;\n                font-size: 15px;\n            }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"email-container\">\n        <div class=\"top-header\">\n            <img src=\"{{ $('Global Constants').item.json.constants.IMAGE_URL}}\" alt=\"ZevenGlobal Logo\">\n        </div>\n        \n        <div class=\"hero-section\">\n            <h1>Missing Broker Account</h1>\n            <p>A broker account is required for the creation of a new challenge.</p>\n        </div>\n        \n        <div class=\"content\">\n            <div class=\"notification-icon\">\n                <svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 512 512\">\n                    <path d=\"M256 48C141.1 48 48 141.1 48 256s93.1 208 208 208 208-93.1 208-208S370.9 48 256 48zm0 319.9c-20.2 0-36.5-16.4-36.5-36.5s16.4-36.5 36.5-36.5 36.5 16.4 36.5 36.5-16.3 36.5-36.5 36.5zm37.5-186.2l-6.8 136c-.9 16.9-29.7 17.4-31.6.5l-6.8-135.9v-.6c0-16.9 46.6-16.9 45.2 0z\"/>\n                </svg>\n            </div>\n            \n            <div class=\"notification-card\">\n                <h2>Notification Details</h2>\n                \n                <div class=\"notification-message\">\n                    <p>A required broker account for creating a challenge is missing. Please assign an account as soon as possible.</p>\n                </div>\n                \n                <div class=\"info-item\">\n                    <span class=\"info-label\">User ID</span>\n                    <span class=\"info-value\">{{ $('Buscar el usuario de la compra').item.json.documentId }}</span>\n                </div>\n                \n                <div class=\"info-item\">\n                    <span class=\"info-label\">Email</span>\n                    <span class=\"info-value\">{{ $('Buscar el usuario de la compra').item.json.email }}</span>\n                </div>\n                \n                <div class=\"info-item\">\n                    <span class=\"info-label\">Order</span>\n                    <span class=\"info-value\">{{ $('Webhook').item.json.body.id }}</span>\n                </div>\n                \n                <div class=\"info-item\">\n                    <span class=\"info-label\">Product</span>\n                    <span class=\"info-value\">{{ $('Webhook').item.json.body.number }}</span>\n                </div>\n            </div>\n            \n            <p style=\"color: white; text-align: center; margin-bottom: 15px; font-size: 14px;\">To manage this request, please access the administrative dashboard and assign a broker account.</p>\n            \n            <a href=\"{{ $('Global Constants').item.json.constants.WEBAPP_URL }}\" target=\"_blank\" class=\"action-button\">VIEW DASHBOARD</a>\n        </div>\n        \n        <div class=\"footer\">\n            <p>© 2025 ZevenGlobal - All rights reserved</p>\n            <div class=\"social-links\">\n                <a href=\"#\">\n                    <img class=\"social-icon\" src=\"https://cdn-icons-png.flaticon.com/512/124/124010.png\" alt=\"Facebook\">\n                </a>\n                <a href=\"#\">\n                    <img class=\"social-icon\" src=\"https://cdn-icons-png.flaticon.com/512/124/124021.png\" alt=\"Twitter\">\n                </a>\n                <a href=\"#\">\n                    <img class=\"social-icon\" src=\"https://cdn-icons-png.flaticon.com/512/174/174855.png\" alt=\"Instagram\">\n                </a>\n            </div>\n            <p>If you have any questions, contact us at <a href=\"mailto:{{ $('Global Constants').item.json.constants.EMAIL }}\" style=\"color: #3a9fff; text-decoration: none;\">{{ $('Global Constants').item.json.constants.EMAIL }}</a></p>\n        </div>\n    </div>\n</body>\n</html>\n",
        "options": {}
      },
      "id": "24a5ec99-6750-4151-9691-0f07f787dad6",
      "name": "Notificar Broker Faltante",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2100,
        -380
      ],
      "webhookId": "36ea56b3-a189-45eb-8afa-96dbb4a62b69",
      "credentials": {
        "smtp": {
          "id": "ZS9NhafTpi5LRpMH",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"ok\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3360,
        -280
      ],
      "id": "be697144-86b7-4e0d-941e-56373facb5e3",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "url": "={{ $('Global Constants').item.json.constants.API_INTERNAL_URL }}/challenge-relations/{{ $('Webhook').item.json.body.document_id }}?populate=challenge_stages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "strapiTokenApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2060,
        -60
      ],
      "id": "682acc96-84c8-48af-8705-c4e4effa388e",
      "name": "Obtener Relation",
      "credentials": {
        "strapiTokenApi": {
          "id": "fdl2l1uCV5LNbN3K",
          "name": "Strapi Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function countStagesAndReturnPhase(jsonData) {\n  // Accedemos al array challenge_stages\n  const stages = jsonData.challenge_stages;\n  \n  // Contamos el número de stages\n  const stageCount = stages.length;\n  \n  // Determinamos la fase basada en el número de stages\n  let phase;\n  if (stageCount === 3) {\n    phase = 1; // Si tiene 3 stages, retorna 1\n  } else if (stageCount === 2) {\n    phase = 2; // Si tiene 2 stages, retorna 2\n  } else if (stageCount === 1) {\n    phase = 3; // Si tiene 1 stage, retorna 3\n  } else {\n    phase = 0; // Valor por defecto para otros casos\n  }\n  \n  // Retornamos el objeto resultado\n   return  phase ;\n}\nreturn ({\"fase\": countStagesAndReturnPhase($input.first().json.data)});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2280,
        -60
      ],
      "id": "91a1e3d0-33cb-42d5-b86e-e2df07055343",
      "name": "Definir phase"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        260,
        140
      ],
      "id": "83c2912b-e449-4ac1-85ac-ea166dd9ebcd",
      "name": "Wait",
      "webhookId": "3910e1e8-50f2-4d67-a717-effe2745d563"
    },
    {
      "parameters": {
        "url": "=https://zevenglobalfunding.com/wp-json/wc/v3/orders/{{ $('Webhook').item.json.body.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wooCommerceApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        140
      ],
      "id": "1d4445a7-5a33-48e7-b4cc-8dc24972f77c",
      "name": "Chequear Orden",
      "credentials": {
        "wooCommerceApi": {
          "id": "6Kb9lwMY8NDVFSSe",
          "name": "WooCommerce account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a5362dba-8914-4574-b390-2e35683cba9b",
              "leftValue": "={{ $('Webhook').item.json.body.status }}",
              "rightValue": "processing",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -880,
        -280
      ],
      "id": "85c2e8de-96af-48b4-abab-c24c863e8fcd",
      "name": "Compra Aprobada?"
    },
    {
      "parameters": {
        "fieldToSplitOut": "iterations",
        "options": {
          "destinationFieldName": "iteration"
        }
      },
      "id": "040e4038-4769-4377-a20b-de02a32e07fa",
      "name": "Split Iterations",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        -280,
        -20
      ]
    },
    {
      "parameters": {
        "jsCode": "const count = 30;\nconst fillers = Array.from({ length: count }, (_, index) => index);\n\n$input.item.json.iterations = fillers;\n\nreturn $input.item;"
      },
      "id": "8d0d0798-581d-4133-b452-b46e4bffca32",
      "name": "30 Veces",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -460,
        -80
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        20,
        120
      ],
      "id": "8cdff0ee-7aef-4c90-b87b-99779c09f368",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "75231d79-294d-4ef4-9a99-104a8f76cbba",
              "leftValue": "={{ $json.status }}",
              "rightValue": "processing",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -380,
        160
      ],
      "id": "532c30d7-307f-46e1-b4e9-da8c44a53512",
      "name": "Fue Aprobada?"
    },
    {
      "parameters": {
        "url": "={{ $('Global Constants').item.json.constants.API_INTERNAL_URL }}/broker-accounts?filters[used][$eq]=false&pagination[limit]=1",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "strapiTokenApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        -140
      ],
      "id": "712fa529-e5d6-464c-8c39-46e9a2239635",
      "name": "obtener broker disponible",
      "credentials": {
        "strapiTokenApi": {
          "id": "fdl2l1uCV5LNbN3K",
          "name": "Strapi Token account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://mt-manager-api-v1.new-york.agiliumtrade.ai/users/current/mt5/provisioning-profiles/d15b3921-8075-41fb-9f7c-a57b470a2ab6/accounts/{{ $json.login }}/balance-transactions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "auth-token",
              "value": "eyJhbGciOiJSUzUxMiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI3YWI1MDY4ODkzYmEzMDcxYjdhYzE0MzI5YzRkNWQ3ZiIsImFjY2Vzc1J1bGVzIjpbeyJpZCI6InRyYWRpbmctYWNjb3VudC1tYW5hZ2VtZW50LWFwaSIsIm1ldGhvZHMiOlsidHJhZGluZy1hY2NvdW50LW1hbmFnZW1lbnQtYXBpOnJlc3Q6cHVibGljOio6KiJdLCJyb2xlcyI6WyJyZWFkZXIiLCJ3cml0ZXIiXSwicmVzb3VyY2VzIjpbIio6JFVTRVJfSUQkOioiXX0seyJpZCI6Im1ldGFhcGktcmVzdC1hcGkiLCJtZXRob2RzIjpbIm1ldGFhcGktYXBpOnJlc3Q6cHVibGljOio6KiJdLCJyb2xlcyI6WyJyZWFkZXIiLCJ3cml0ZXIiXSwicmVzb3VyY2VzIjpbIio6JFVTRVJfSUQkOioiXX0seyJpZCI6Im1ldGFhcGktcnBjLWFwaSIsIm1ldGhvZHMiOlsibWV0YWFwaS1hcGk6d3M6cHVibGljOio6KiJdLCJyb2xlcyI6WyJyZWFkZXIiLCJ3cml0ZXIiXSwicmVzb3VyY2VzIjpbIio6JFVTRVJfSUQkOioiXX0seyJpZCI6Im1ldGFhcGktcmVhbC10aW1lLXN0cmVhbWluZy1hcGkiLCJtZXRob2RzIjpbIm1ldGFhcGktYXBpOndzOnB1YmxpYzoqOioiXSwicm9sZXMiOlsicmVhZGVyIiwid3JpdGVyIl0sInJlc291cmNlcyI6WyIqOiRVU0VSX0lEJDoqIl19LHsiaWQiOiJtZXRhc3RhdHMtYXBpIiwibWV0aG9kcyI6WyJtZXRhc3RhdHMtYXBpOnJlc3Q6cHVibGljOio6KiJdLCJyb2xlcyI6WyJyZWFkZXIiLCJ3cml0ZXIiXSwicmVzb3VyY2VzIjpbIio6JFVTRVJfSUQkOioiXX0seyJpZCI6InJpc2stbWFuYWdlbWVudC1hcGkiLCJtZXRob2RzIjpbInJpc2stbWFuYWdlbWVudC1hcGk6cmVzdDpwdWJsaWM6KjoqIl0sInJvbGVzIjpbInJlYWRlciIsIndyaXRlciJdLCJyZXNvdXJjZXMiOlsiKjokVVNFUl9JRCQ6KiJdfSx7ImlkIjoiY29weWZhY3RvcnktYXBpIiwibWV0aG9kcyI6WyJjb3B5ZmFjdG9yeS1hcGk6cmVzdDpwdWJsaWM6KjoqIl0sInJvbGVzIjpbInJlYWRlciIsIndyaXRlciJdLCJyZXNvdXJjZXMiOlsiKjokVVNFUl9JRCQ6KiJdfSx7ImlkIjoibXQtbWFuYWdlci1hcGkiLCJtZXRob2RzIjpbIm10LW1hbmFnZXItYXBpOnJlc3Q6ZGVhbGluZzoqOioiLCJtdC1tYW5hZ2VyLWFwaTpyZXN0OnB1YmxpYzoqOioiXSwicm9sZXMiOlsicmVhZGVyIiwid3JpdGVyIl0sInJlc291cmNlcyI6WyIqOiRVU0VSX0lEJDoqIl19LHsiaWQiOiJiaWxsaW5nLWFwaSIsIm1ldGhvZHMiOlsiYmlsbGluZy1hcGk6cmVzdDpwdWJsaWM6KjoqIl0sInJvbGVzIjpbInJlYWRlciJdLCJyZXNvdXJjZXMiOlsiKjokVVNFUl9JRCQ6KiJdfV0sImlnbm9yZVJhdGVMaW1pdHMiOmZhbHNlLCJ0b2tlbklkIjoiMjAyMTAyMTMiLCJpbXBlcnNvbmF0ZWQiOmZhbHNlLCJyZWFsVXNlcklkIjoiN2FiNTA2ODg5M2JhMzA3MWI3YWMxNDMyOWM0ZDVkN2YiLCJpYXQiOjE3NDQzMDQxNDYsImV4cCI6MTc1MjA4MDE0Nn0.Xu5y75qDYBewKFs483fLtxXabUFuFpLe-HtMS1JRdUo-GkKUdBFugCNiltwRbAOdY5PozQWWIhfaDLXD-5xW2gV04zCPcQohgj5nSWhkWcufv5P2Qre7SQoinPXIb6ZCV7PxpEtOgCf6sxrlKTjLoiJghrsUXJ66fWkC_CGxrrPrbe-tWYC7WlLPth9ec0q_K5x7BPKO5tJr1YqaLQYs-TJZkdRU2yzbyzvuKg-bK59G59iHSLlt6tECJ997MGr6Fj0u-zCFrQgrfaHE5n9l0BwKkK8jgatVsI23eRrJmV8ZVs7NFpnLs5GjnIwExZt8M8dBXJIp5UMfbj5eesdCwPWxfrASpy5C-6X8dHtmjto6pY9Jt7rhv23OESuXUFAx5FclAY3o9eeIR3Cfx9L14rYWoSkddux9aaGOe2BO9oq2pq4vSKFGC0s1Uy2ToLHin57HKedMDfKRKr267AgEAegKRz5e0iZDm9If1LoAExSFu4RI9IzKsF5b1CVAdpDC1WIuZPEek2Wt3C_puiVNkDWfcgCLB0i40YtpWWtoLC2pQ96ILyhMO3AOFDLU64BORVhd0GjUn91v_Ixg1Ojr08pBUUGTERWTqGK-KD7NPoWM2BrE1BptzvxkRV_-Z4IUMuWuW_EwmspG5SKQK8zLxD4qlmsMSgynYsn4No1uZb4"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"amount\":{{ $('Parsear el Producto').item.json.balance }},\n  \"type\":\"DEAL_BALANCE\",\n  \"comment\":\"innitial balance\"\n}",
        "options": {}
      },
      "id": "d3ad517d-47fc-4084-b4c7-5cf51b54bc19",
      "name": "Asignar Balance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1820,
        40
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://mt-manager-api-v1.new-york.agiliumtrade.ai/users/current/mt5/provisioning-profiles/d15b3921-8075-41fb-9f7c-a57b470a2ab6/users/{{ $json.data[0].login }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "auth-token",
              "value": "eyJhbGciOiJSUzUxMiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI3YWI1MDY4ODkzYmEzMDcxYjdhYzE0MzI5YzRkNWQ3ZiIsImFjY2Vzc1J1bGVzIjpbeyJpZCI6InRyYWRpbmctYWNjb3VudC1tYW5hZ2VtZW50LWFwaSIsIm1ldGhvZHMiOlsidHJhZGluZy1hY2NvdW50LW1hbmFnZW1lbnQtYXBpOnJlc3Q6cHVibGljOio6KiJdLCJyb2xlcyI6WyJyZWFkZXIiLCJ3cml0ZXIiXSwicmVzb3VyY2VzIjpbIio6JFVTRVJfSUQkOioiXX0seyJpZCI6Im1ldGFhcGktcmVzdC1hcGkiLCJtZXRob2RzIjpbIm1ldGFhcGktYXBpOnJlc3Q6cHVibGljOio6KiJdLCJyb2xlcyI6WyJyZWFkZXIiLCJ3cml0ZXIiXSwicmVzb3VyY2VzIjpbIio6JFVTRVJfSUQkOioiXX0seyJpZCI6Im1ldGFhcGktcnBjLWFwaSIsIm1ldGhvZHMiOlsibWV0YWFwaS1hcGk6d3M6cHVibGljOio6KiJdLCJyb2xlcyI6WyJyZWFkZXIiLCJ3cml0ZXIiXSwicmVzb3VyY2VzIjpbIio6JFVTRVJfSUQkOioiXX0seyJpZCI6Im1ldGFhcGktcmVhbC10aW1lLXN0cmVhbWluZy1hcGkiLCJtZXRob2RzIjpbIm1ldGFhcGktYXBpOndzOnB1YmxpYzoqOioiXSwicm9sZXMiOlsicmVhZGVyIiwid3JpdGVyIl0sInJlc291cmNlcyI6WyIqOiRVU0VSX0lEJDoqIl19LHsiaWQiOiJtZXRhc3RhdHMtYXBpIiwibWV0aG9kcyI6WyJtZXRhc3RhdHMtYXBpOnJlc3Q6cHVibGljOio6KiJdLCJyb2xlcyI6WyJyZWFkZXIiLCJ3cml0ZXIiXSwicmVzb3VyY2VzIjpbIio6JFVTRVJfSUQkOioiXX0seyJpZCI6InJpc2stbWFuYWdlbWVudC1hcGkiLCJtZXRob2RzIjpbInJpc2stbWFuYWdlbWVudC1hcGk6cmVzdDpwdWJsaWM6KjoqIl0sInJvbGVzIjpbInJlYWRlciIsIndyaXRlciJdLCJyZXNvdXJjZXMiOlsiKjokVVNFUl9JRCQ6KiJdfSx7ImlkIjoiY29weWZhY3RvcnktYXBpIiwibWV0aG9kcyI6WyJjb3B5ZmFjdG9yeS1hcGk6cmVzdDpwdWJsaWM6KjoqIl0sInJvbGVzIjpbInJlYWRlciIsIndyaXRlciJdLCJyZXNvdXJjZXMiOlsiKjokVVNFUl9JRCQ6KiJdfSx7ImlkIjoibXQtbWFuYWdlci1hcGkiLCJtZXRob2RzIjpbIm10LW1hbmFnZXItYXBpOnJlc3Q6ZGVhbGluZzoqOioiLCJtdC1tYW5hZ2VyLWFwaTpyZXN0OnB1YmxpYzoqOioiXSwicm9sZXMiOlsicmVhZGVyIiwid3JpdGVyIl0sInJlc291cmNlcyI6WyIqOiRVU0VSX0lEJDoqIl19LHsiaWQiOiJiaWxsaW5nLWFwaSIsIm1ldGhvZHMiOlsiYmlsbGluZy1hcGk6cmVzdDpwdWJsaWM6KjoqIl0sInJvbGVzIjpbInJlYWRlciJdLCJyZXNvdXJjZXMiOlsiKjokVVNFUl9JRCQ6KiJdfV0sImlnbm9yZVJhdGVMaW1pdHMiOmZhbHNlLCJ0b2tlbklkIjoiMjAyMTAyMTMiLCJpbXBlcnNvbmF0ZWQiOmZhbHNlLCJyZWFsVXNlcklkIjoiN2FiNTA2ODg5M2JhMzA3MWI3YWMxNDMyOWM0ZDVkN2YiLCJpYXQiOjE3NDQzMDQxNDYsImV4cCI6MTc1MjA4MDE0Nn0.Xu5y75qDYBewKFs483fLtxXabUFuFpLe-HtMS1JRdUo-GkKUdBFugCNiltwRbAOdY5PozQWWIhfaDLXD-5xW2gV04zCPcQohgj5nSWhkWcufv5P2Qre7SQoinPXIb6ZCV7PxpEtOgCf6sxrlKTjLoiJghrsUXJ66fWkC_CGxrrPrbe-tWYC7WlLPth9ec0q_K5x7BPKO5tJr1YqaLQYs-TJZkdRU2yzbyzvuKg-bK59G59iHSLlt6tECJ997MGr6Fj0u-zCFrQgrfaHE5n9l0BwKkK8jgatVsI23eRrJmV8ZVs7NFpnLs5GjnIwExZt8M8dBXJIp5UMfbj5eesdCwPWxfrASpy5C-6X8dHtmjto6pY9Jt7rhv23OESuXUFAx5FclAY3o9eeIR3Cfx9L14rYWoSkddux9aaGOe2BO9oq2pq4vSKFGC0s1Uy2ToLHin57HKedMDfKRKr267AgEAegKRz5e0iZDm9If1LoAExSFu4RI9IzKsF5b1CVAdpDC1WIuZPEek2Wt3C_puiVNkDWfcgCLB0i40YtpWWtoLC2pQ96ILyhMO3AOFDLU64BORVhd0GjUn91v_Ixg1Ojr08pBUUGTERWTqGK-KD7NPoWM2BrE1BptzvxkRV_-Z4IUMuWuW_EwmspG5SKQK8zLxD4qlmsMSgynYsn4No1uZb4"
            }
          ]
        },
        "options": {}
      },
      "id": "92da4c52-bec7-4eb3-b221-ad3f9238c443",
      "name": "Comprobar Balance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        -40
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "151a75e3-a311-48e4-b971-3d849215ede6",
              "leftValue": "={{ $json.balance }}",
              "rightValue": "={{ $('Parsear el Producto').item.json.balance }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1600,
        -40
      ],
      "id": "93ef7e13-e9ac-46a1-971f-414d2da03bca",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a5362dba-8914-4574-b390-2e35683cba9b",
              "leftValue": "={{ $json.status }}",
              "rightValue": "failed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        600,
        140
      ],
      "id": "933e17da-6471-4b18-b335-b6e98d66215e",
      "name": "Compra Rechazada?1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a5362dba-8914-4574-b390-2e35683cba9b",
              "leftValue": "={{ $('Webhook').item.json.body.status }}",
              "rightValue": "failed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -700,
        -100
      ],
      "id": "a53eb124-c9bf-43a8-a835-1c0c109fb853",
      "name": "Compra Rechazada?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c69dfa62-333a-4ffa-8942-f216ff6af540",
              "leftValue": "={{ $('Webhook').item.json.body.document_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1100,
        -260
      ],
      "id": "c27f84b1-c610-4438-96ce-ad4772fe80e6",
      "name": "Es un Challenge?"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.zevenglobalfunding.com",
            "user-agent": "WooCommerce/9.8.2 Hookshot (WordPress/6.8)",
            "content-length": "5751",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "154.38.184.175",
            "cf-ipcountry": "US",
            "cf-ray": "93572d57ff127539-EWR",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-type": "application/json",
            "x-forwarded-for": "154.38.184.175, 104.23.190.191",
            "x-forwarded-host": "n8n.zevenglobalfunding.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "e6c05b0fe480",
            "x-real-ip": "104.23.190.191",
            "x-wc-webhook-delivery-id": "675c406b1ae0bfb62637bdbcaf1b575c",
            "x-wc-webhook-event": "created",
            "x-wc-webhook-id": "85",
            "x-wc-webhook-resource": "order",
            "x-wc-webhook-signature": "FsGPvrmMAX/I1HhEPY7hKaU1ebO76KcAXB7/BGcN9cM=",
            "x-wc-webhook-source": "https://zevenglobalfunding.com/",
            "x-wc-webhook-topic": "order.created"
          },
          "params": {},
          "query": {},
          "body": {
            "document_id": "disj753qm2c72jfidilqo7us",
            "user_id": "flpsdrhxvglifir7ocot7hvx",
            "id": 11588,
            "parent_id": 0,
            "status": "processing",
            "currency": "USD",
            "version": "9.8.2",
            "prices_include_tax": false,
            "date_created": "2025-04-24T12:01:08",
            "date_modified": "2025-04-24T12:01:11",
            "discount_total": "98.80",
            "discount_tax": "0.00",
            "shipping_total": "0.00",
            "shipping_tax": "0.00",
            "cart_tax": "0.00",
            "total": "395.20",
            "total_tax": "0.00",
            "customer_id": 0,
            "order_key": "wc_order_GqqailOyPpqxj",
            "billing": {
              "first_name": "Delon",
              "last_name": "Pompey",
              "company": "",
              "address_1": "29 Old Bar Road",
              "address_2": "",
              "city": "Nairn",
              "state": "",
              "postcode": "IV12 5BX",
              "country": "GB",
              "email": "bankzz38@gmail.com",
              "phone": "+447861774542"
            },
            "shipping": {
              "first_name": "",
              "last_name": "",
              "company": "",
              "address_1": "",
              "address_2": "",
              "city": "",
              "state": "",
              "postcode": "",
              "country": "GB",
              "phone": "+447861774542"
            },
            "payment_method": "micuentawebstd",
            "payment_method_title": "Payment by credit & debit card",
            "transaction_id": "",
            "customer_ip_address": "90.240.69.80",
            "customer_user_agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/135.0.0.0 Safari/537.36",
            "created_via": "checkout",
            "customer_note": "",
            "date_completed": null,
            "date_paid": null,
            "cart_hash": "17cfaa30e887300cf1ee5f0cfce644d4",
            "number": "11548",
            "meta_data": [
              {
                "id": 12162,
                "key": "_wc_order_attribution_device_type",
                "value": "Desktop"
              },
              {
                "id": 12153,
                "key": "_wc_order_attribution_referrer",
                "value": "https://www.facebook.com/"
              },
              {
                "id": 12160,
                "key": "_wc_order_attribution_session_count",
                "value": "2"
              },
              {
                "id": 12157,
                "key": "_wc_order_attribution_session_entry",
                "value": "https://zevenglobalfunding.com/?fbclid=IwZXh0bgNhZW0CMTAAYnJpZBExTjNJOHFKalFwTU1yMWNkMQEeo0vouWdw-mC_JDpgbGNS607d5KNaPqXYe6PMrRVpe1XZJ1b_RNLrRiy8F5U_aem_IpL-d-9AL282_cuq_b-pxw"
              },
              {
                "id": 12159,
                "key": "_wc_order_attribution_session_pages",
                "value": "2"
              },
              {
                "id": 12158,
                "key": "_wc_order_attribution_session_start_time",
                "value": "2025-04-24 11:59:42"
              },
              {
                "id": 12152,
                "key": "_wc_order_attribution_source_type",
                "value": "referral"
              },
              {
                "id": 12161,
                "key": "_wc_order_attribution_user_agent",
                "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/135.0.0.0 Safari/537.36"
              },
              {
                "id": 12156,
                "key": "_wc_order_attribution_utm_content",
                "value": "/"
              },
              {
                "id": 12155,
                "key": "_wc_order_attribution_utm_medium",
                "value": "referral"
              },
              {
                "id": 12154,
                "key": "_wc_order_attribution_utm_source",
                "value": "facebook.com"
              },
              {
                "id": 12164,
                "key": "_wfacp_post_id",
                "value": "10343"
              },
              {
                "id": 12140,
                "key": "_wfacp_report_data",
                "value": {
                  "wfacp_total": "395.20",
                  "funnel_id": "2"
                }
              },
              {
                "id": 12165,
                "key": "_wfacp_source",
                "value": "https://zevenglobalfunding.com/checkouts/checkout/"
              },
              {
                "id": 12166,
                "key": "_wfacp_timezone",
                "value": "Europe/London"
              },
              {
                "id": 12144,
                "key": "_wffn_tracking_data",
                "value": {
                  "utm_source": "",
                  "utm_medium": "",
                  "utm_campaign": "",
                  "utm_term": "",
                  "utm_content": "",
                  "first_landing_url": "/",
                  "browser": "Chrome",
                  "first_click": "2025-4-24 06:59:42",
                  "device": "desktop",
                  "click_id": "IwZXh0bgNhZW0CMTAAYnJpZBExTjNJOHFKalFwTU1yMWNkMQEeo0vouWdw-mC_JDpgbGNS607d5KNaPqXYe6PMrRVpe1XZJ1b_RNLrRiy8F5U_aem_IpL-d-9AL282_cuq_b-pxw",
                  "referrer": "www.facebook.com",
                  "journey": "",
                  "source_id": 0
                }
              },
              {
                "id": 12139,
                "key": "_wfob_report_data",
                "value": []
              },
              {
                "id": 12163,
                "key": "_woofunnel_cid",
                "value": "64"
              },
              {
                "id": 12148,
                "key": "gtm_ecommerce_woo_order_monitor_ad_storage",
                "value": "denied"
              },
              {
                "id": 12146,
                "key": "gtm_ecommerce_woo_order_monitor_adblock",
                "value": "true"
              },
              {
                "id": 12149,
                "key": "gtm_ecommerce_woo_order_monitor_analytics_storage",
                "value": "denied"
              },
              {
                "id": 12151,
                "key": "gtm_ecommerce_woo_order_monitor_check",
                "value": "1745514070"
              },
              {
                "id": 12145,
                "key": "gtm_ecommerce_woo_order_monitor_gtm",
                "value": "false"
              },
              {
                "id": 12147,
                "key": "gtm_ecommerce_woo_order_monitor_itp",
                "value": "false"
              },
              {
                "id": 12150,
                "key": "gtm_ecommerce_woo_order_monitor_thank_you_page_visited",
                "value": "-1"
              },
              {
                "id": 12167,
                "key": "gtm_ecommerce_woo_purchase_event_tracked",
                "value": "1"
              },
              {
                "id": 12143,
                "key": "gtm_ecommerce_woo_purchase_server_event_client_id",
                "value": "t_f786b88ddbf2fff25dbd8988778a93.1745669157.1745665557.d4e73f05e240d3dc6413dc46fc6aac80"
              },
              {
                "id": 12138,
                "key": "is_vat_exempt",
                "value": "no"
              }
            ],
            "line_items": [
              {
                "id": 625,
                "name": "100,000 USD - Direct Funding, Regular",
                "product_id": 11253,
                "variation_id": 11260,
                "quantity": 1,
                "tax_class": "",
                "subtotal": "494.00",
                "subtotal_tax": "0.00",
                "total": "395.20",
                "total_tax": "0.00",
                "taxes": [],
                "meta_data": [
                  {
                    "id": 5974,
                    "key": "step",
                    "value": "Direct Funding",
                    "display_key": "step",
                    "display_value": "Direct Funding"
                  },
                  {
                    "id": 5975,
                    "key": "subcategory",
                    "value": "Regular",
                    "display_key": "subcategory",
                    "display_value": "Regular"
                  }
                ],
                "sku": "25kproduct",
                "price": 395.2,
                "image": {
                  "id": 11393,
                  "src": "https://zevenglobalfunding.com/wp-content/uploads/2025/04/Sin-titulo-1-4.png"
                },
                "parent_name": "100,000 USD"
              }
            ],
            "tax_lines": [],
            "shipping_lines": [],
            "fee_lines": [],
            "coupon_lines": [
              {
                "id": 626,
                "code": "new20",
                "discount": "98.8",
                "discount_tax": "0",
                "meta_data": [
                  {
                    "id": 5978,
                    "key": "coupon_info",
                    "value": "[11461,\"new20\",\"percent\",20]",
                    "display_key": "coupon_info",
                    "display_value": "[11461,\"new20\",\"percent\",20]"
                  }
                ],
                "discount_type": "percent",
                "nominal_amount": 20,
                "free_shipping": false
              }
            ],
            "refunds": [],
            "payment_url": "https://zevenglobalfunding.com/checkout/order-pay/11548/?pay_for_order=true&key=wc_order_GqqailOyPpqxj",
            "is_editable": true,
            "needs_payment": true,
            "needs_processing": true,
            "date_created_gmt": "2025-04-24T17:01:08",
            "date_modified_gmt": "2025-04-24T17:01:11",
            "date_completed_gmt": null,
            "date_paid_gmt": null,
            "currency_symbol": "$",
            "_links": {
              "self": [
                {
                  "href": "https://zevenglobalfunding.com/wp-json/wc/v3/orders/11548",
                  "targetHints": {
                    "allow": [
                      "GET",
                      "POST",
                      "PUT",
                      "PATCH",
                      "DELETE"
                    ]
                  }
                }
              ],
              "collection": [
                {
                  "href": "https://zevenglobalfunding.com/wp-json/wc/v3/orders"
                }
              ],
              "email_templates": [
                {
                  "embeddable": true,
                  "href": "https://zevenglobalfunding.com/wp-json/wc/v3/orders/11548/actions/email_templates"
                }
              ]
            }
          },
          "webhookUrl": "https://addons-n8n-prueba.nupl00.easypanel.host/webhook/purcharse",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo_name": "n8n_workflows",
  "repo_owner": "EliteCodeDev",
  "repo_path": "workflows/zeven/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:WooCommerce Trigger": {}
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-05-13T00:07:09.000Z",
  "versionId": "6bb92e45-466d-4048-b6e7-0bfe32b8b391"
}