2025/03/C4JVg8otdafomfws.json
{
  "active": false,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Global Constants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Certificado": {
      "main": [
        [
          {
            "node": "Generar Qr",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Global Constants": {
      "main": [
        [
          {
            "node": "Buscar Challenge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Challenge": {
      "main": [
        [
          {
            "node": "Aprobado o en Retiro?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aprobado o en Retiro?": {
      "main": [
        [
          {
            "node": "Obtener tipo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Qr": {
      "main": [
        [
          {
            "node": "Actualizar Certificado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener tipo": {
      "main": [
        [
          {
            "node": "Crear Certificado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-26T17:36:24.561Z",
  "id": "C4JVg8otdafomfws",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Ejecutar: Crear Certificado",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Global Constants').item.json.constants.STRAPI_URL }}/certificates",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "strapiTokenApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\":{\n    \"challenge\":\"{{ $('Buscar Challenge').item.json.data.documentId }}\",\n    \"users_permissions_user\":\"{{ $('Buscar Challenge').item.json.data.user.documentId }}\",\n    \"firstName\":\"{{ $('Buscar Challenge').item.json.data.user.firstName }}\",\n    \"lastName\":\"{{ $('Buscar Challenge').item.json.data.user.lastName }}\",\n    \"fechaFinChallenge\":\"{{ $('Buscar Challenge').item.json.data.endDate }}\",\n    \"tipoChallenge\":\"{{$('Obtener tipo').item.json.data}}\",\n    \"monto\":10000,\n    \"dataUser\":{{ JSON.stringify($('Buscar Challenge').item.json.data.user) }},\n    \"dataChallenge\":{{ JSON.stringify($('Buscar Challenge').item.json.data) }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1160,
        -260
      ],
      "id": "cd303ae1-06be-4153-9907-ce6df2489f11",
      "name": "Crear Certificado",
      "credentials": {
        "strapiTokenApi": {
          "id": "fdl2l1uCV5LNbN3K",
          "name": "Strapi Token account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "data"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        40,
        -240
      ],
      "id": "8b1e6161-ace1-40bd-ba41-3ac55b2ca6a6",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $('Global Constants').item.json.constants.STRAPI_URL }}/certificates/{{ $('Crear Certificado').item.json.data.documentId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "strapiTokenApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\":{\n      \"qrLink\":\"{{ $('Generar Qr').item.json.data }}\"\n  }\n}\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        -260
      ],
      "id": "1a072c09-3a90-4c5d-847f-83eb127d3d1b",
      "name": "Actualizar Certificado",
      "credentials": {
        "strapiTokenApi": {
          "id": "fdl2l1uCV5LNbN3K",
          "name": "Strapi Token account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-globals.globalConstants",
      "typeVersion": 1,
      "position": [
        300,
        -240
      ],
      "id": "1ea2eb04-207b-4cd3-a7ee-63a391c80c28",
      "name": "Global Constants",
      "credentials": {
        "globalConstantsApi": {
          "id": "xD5yrF0WiFvNSDFv",
          "name": "Global Constants account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.constants.STRAPI_URL }}/challenges/{{ $('When Executed by Another Workflow').item.json.data }}?populate=*",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "strapiTokenApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        -240
      ],
      "id": "a77b931d-609d-4b2f-b07a-a2da0721f8ff",
      "name": "Buscar Challenge",
      "credentials": {
        "strapiTokenApi": {
          "id": "fdl2l1uCV5LNbN3K",
          "name": "Strapi Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c4548f36-0ebf-4811-90dc-d3a3c030184a",
              "leftValue": "={{ $json.data.result }}",
              "rightValue": "approved",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "afd28060-33e0-47f1-8331-c5efb3f28719",
              "leftValue": "={{ $json.data.result }}",
              "rightValue": "withdrawal",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        700,
        -240
      ],
      "id": "876ecc6b-584b-4971-9539-de86886c73a4",
      "name": "Aprobado o en Retiro?"
    },
    {
      "parameters": {
        "value": "=https://web.neocapitalfunding.com/certificates/verify/{{ $json.data.documentId }}",
        "width": 256,
        "qrCodeOptions": {}
      },
      "type": "n8n-nodes-qrcode.qrCode",
      "typeVersion": 1,
      "position": [
        1340,
        -260
      ],
      "id": "8215a2bc-7620-4c83-9903-d4f1a1a24418",
      "name": "Generar Qr"
    },
    {
      "parameters": {
        "jsCode": "const phase = $('Buscar Challenge').first().json.data.phase;\nconst result = $('Buscar Challenge').first().json.data.result;\n\n// Definimos la variable de salida\nlet output;\n\nif (phase === 1) {\n  output = 'fase1';\n} else if (phase === 2) {\n  output = 'fase2';\n} else if (phase === 3) {\n  if (result === 'init' || result === 'process') {\n    output = 'fase3';\n  } else if (result === 'withdrawal') {\n    output = 'retirado';\n  }\n}\n\n// Si quisieras devolverlo como string directo:\nreturn ({\"data\":output});\n\n// O, si prefieres retornarlo como objeto (a veces más útil en n8n):\n// return { data: output };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        -260
      ],
      "id": "75677ec2-dd51-4f78-88d7-aa477f3dff06",
      "name": "Obtener tipo"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "data": "lf3r9miehv4bor2z4qjch9ai"
        }
      }
    ]
  },
  "repo_name": "n8n_workflows",
  "repo_owner": "EliteCodeDev",
  "repo_path": "https://github.com/EliteCodeDev/n8n_workflows/",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "psoEwVAjpwuKHyK1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-05-24T03:04:39.000Z",
  "versionId": "c4dd6e3c-b192-4ae1-ae59-2adeff6f7ae2"
}