2025/04/ncg4FggmWm4t5xNa.json
{
  "active": false,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Global Constants",
            "type": "main",
            "index": 0
          },
          {
            "node": "Validate Required Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Global Constants": {
      "main": [
        [
          {
            "node": "Prepare Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Required Fields": {
      "main": [
        [],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Email Data": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-29T02:08:44.200Z",
  "id": "ncg4FggmWm4t5xNa",
  "isArchived": false,
  "meta": null,
  "name": "Email Sender Global",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -120,
        -60
      ],
      "id": "29a80d2e-1477-4574-9901-6aa0fc96893a",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-globals.globalConstants",
      "typeVersion": 1,
      "position": [
        60,
        -60
      ],
      "id": "9756be06-6160-492b-ac56-d05f48f9cef1",
      "name": "Global Constants",
      "credentials": {
        "globalConstantsApi": {
          "id": "xD5yrF0WiFvNSDFv",
          "name": "Global Constants account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "123456",
              "leftValue": "={{ $json.emailId === undefined || $json.toEmail === undefined || $json.subject === undefined }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        60,
        140
      ],
      "id": "50fcc39e-10aa-46af-bfa1-da56e097f5ac",
      "name": "Validate Required Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Global Constants').item.json.constants.ERROR_LOGGING_URL || 'http://example.com/log' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"error\": \"Missing required field in Email Sender\", \"data\": $json }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        140
      ],
      "id": "0da183b5-d1c0-42e3-a91d-2082b071a4e8",
      "name": "Log Error"
    },
    {
      "parameters": {
        "jsCode": "// Define defaults for missing values\nconst defaults = {\n  primaryColor: '#4CAF50',   // Default color (green)\n  accentColor: '#388E3C',\n  iconType: 'success',        // Default icon (success)\n  title: 'Notification',      // Default title\n  bodyContent: '<p>Thank you for using our service.</p>',\n  primaryButtonText: 'VIEW DETAILS',\n  primaryButtonUrl: $('Global Constants').item.json.constants.WEBAPP_URL || '#',\n  imageUrl: $('Global Constants').item.json.constants.IMAGE_URL || '',\n  infoItems: []\n};\n\n// Set icon SVG based on type\nlet iconSvg = '';\nconst iconType = $input.item.json.iconType || defaults.iconType;\n\nif (iconType === 'success') {\n  // Success checkmark icon\n  iconSvg = '<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 512 512\">\\n' +\n            '  <path d=\"M256 48C141.31 48 48 141.31 48 256s93.31 208 208 208 208-93.31 208-208S370.69 48 256 48zm108.25 138.29l-134.4 160a16 16 0 01-12 5.71h-.27a16 16 0 01-11.89-5.3l-57.6-64a16 16 0 1123.78-21.4l45.29 50.32 122.59-145.91a16 16 0 0124.5 20.58z\"/>\\n' +\n            '</svg>';\n} else if (iconType === 'error') {\n  // Error/warning icon\n  iconSvg = '<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 512 512\">\\n' +\n            '  <path d=\"M256 48C141.31 48 48 141.31 48 256s93.31 208 208 208 208-93.31 208-208S370.69 48 256 48zm0 319.91a20 20 0 1 1 20-20 20 20 0 0 1-20 20zm21.72-201.15l-5.74 122a16 16 0 0 1-32 0l-5.74-121.94v-.05a21.74 21.74 0 1 1 43.44 0z\"/>\\n' +\n            '</svg>';\n} else if (iconType === 'info') {\n  // Info icon\n  iconSvg = '<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 512 512\">\\n' +\n            '  <path d=\"M256 48C141.31 48 48 141.31 48 256s93.31 208 208 208 208-93.31 208-208S370.69 48 256 48zm0 82a26 26 0 1 1-26 26 26 26 0 0 1 26-26zm48 226h-88a16 16 0 0 1 0-32h28v-88h-16a16 16 0 0 1 0-32h32a16 16 0 0 1 16 16v104h28a16 16 0 0 1 0 32z\"/>\\n' +\n            '</svg>';\n}\n\n// Get the color theme from input or use default\nconst primaryColor = $input.item.json.primaryColor || defaults.primaryColor;\nconst accentColor = $input.item.json.accentColor || defaults.accentColor;\n\n// Generate info items HTML\nlet infoItemsHtml = '';\nconst infoItems = $input.item.json.infoItems || defaults.infoItems;\n\nif (infoItems && infoItems.length > 0) {\n  infoItems.forEach(item => {\n    infoItemsHtml += `\n      <div class=\"info-item\">\n        <span class=\"info-label\">${item.label}</span>\n        <span class=\"info-value\">${item.value}</span>\n      </div>\n    `;\n  });\n}\n\n// Apply all values (from input or defaults)\n$input.item.json.iconSvg = iconSvg;\n$input.item.json.primaryColor = primaryColor;\n$input.item.json.accentColor = accentColor;\n$input.item.json.title = $input.item.json.title || defaults.title;\n$input.item.json.bodyContent = $input.item.json.bodyContent || defaults.bodyContent;\n$input.item.json.primaryButtonText = $input.item.json.primaryButtonText || defaults.primaryButtonText;\n$input.item.json.primaryButtonUrl = $input.item.json.primaryButtonUrl || defaults.primaryButtonUrl;\n$input.item.json.imageUrl = $input.item.json.imageUrl || $('Global Constants').item.json.constants.IMAGE_URL || '';\n$input.item.json.infoItemsHtml = infoItemsHtml;\n\nreturn $input.item;"
      },
      "id": "0413973f-6166-4e44-8256-b1305f99fcb9",
      "name": "Prepare Email Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        -60
      ]
    },
    {
      "parameters": {
        "fromEmail": "={{ $('Global Constants').item.json.constants.EMAIL }}",
        "toEmail": "={{ $json.toEmail }}",
        "subject": "={{ $json.subject }}",
        "html": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>{{ $json.title }} - ZevenGlobal</title>\n    <style>\n        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');\n        \n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n            font-family: 'Montserrat', sans-serif;\n        }\n        \n        body {\n            background-color: #f0f5ff;\n            padding: 40px 20px;\n        }\n        \n        .email-container {\n            max-width: 650px;\n            margin: 0 auto;\n            background: #0a1a35;\n            border-radius: 16px;\n            overflow: hidden;\n            box-shadow: 0 12px 30px rgba(0, 65, 158, 0.2);\n        }\n        \n        .top-header {\n            background-color: #0a1730;\n            padding: 15px 0;\n            text-align: center;\n            border-bottom: 1px solid rgba(100, 150, 255, 0.2);\n        }\n        \n        .top-header img {\n            max-width: 120px;\n            height: auto;\n        }\n        \n        .hero-section {\n            background-color: #101f3d;\n            padding: 30px 20px;\n            text-align: center;\n            color: white;\n        }\n        \n        .hero-section h1 {\n            font-size: 24px;\n            margin-bottom: 10px;\n            color: {{ $json.primaryColor }};\n            font-weight: 700;\n        }\n        \n        .hero-section p {\n            font-size: 15px;\n            line-height: 1.5;\n            max-width: 450px;\n            margin: 0 auto;\n            color: #b4c9ff;\n        }\n        \n        .content {\n            padding: 30px 25px;\n            position: relative;\n        }\n        \n        .notification-icon {\n            text-align: center;\n            margin-bottom: 15px;\n        }\n        \n        .notification-icon svg {\n            width: 40px;\n            height: 40px;\n            fill: {{ $json.primaryColor }};\n        }\n        \n        .notification-card {\n            position: relative;\n            z-index: 1;\n            background: rgba(18, 37, 73, 0.9);\n            border-radius: 10px;\n            padding: 25px 20px;\n            margin-bottom: 25px;\n            border: 1px solid rgba({{ $json.primaryColor.replace('#', '').match(/.{1,2}/g).map(hex => parseInt(hex, 16)).join(', ') }}, 0.3);\n            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);\n        }\n        \n        .notification-card h2 {\n            color: white;\n            font-size: 20px;\n            margin-bottom: 15px;\n            padding-bottom: 12px;\n            border-bottom: 1px solid rgba({{ $json.primaryColor.replace('#', '').match(/.{1,2}/g).map(hex => parseInt(hex, 16)).join(', ') }}, 0.2);\n            text-align: center;\n        }\n        \n        .notification-message {\n            color: white;\n            text-align: center;\n            margin-bottom: 20px;\n            font-size: 15px;\n            line-height: 1.5;\n        }\n        \n        .info-item {\n            display: flex;\n            align-items: center;\n            padding: 12px 0;\n            border-bottom: 1px solid rgba(100, 150, 255, 0.1);\n        }\n        \n        .info-item:last-child {\n            border-bottom: none;\n        }\n        \n        .info-label {\n            color: #7e9bff;\n            font-weight: 500;\n            font-size: 14px;\n            width: 40%;\n            padding-right: 15px;\n        }\n        \n        .info-value {\n            color: white;\n            font-weight: 600;\n            font-size: 15px;\n            background-color: rgba({{ $json.primaryColor.replace('#', '').match(/.{1,2}/g).map(hex => parseInt(hex, 16)).join(', ') }}, 0.1);\n            padding: 8px 12px;\n            border-radius: 4px;\n            border: 1px solid rgba({{ $json.primaryColor.replace('#', '').match(/.{1,2}/g).map(hex => parseInt(hex, 16)).join(', ') }}, 0.2);\n            word-break: break-word;\n            width: 60%;\n            flex-grow: 1;\n        }\n        \n        .action-button {\n            display: block;\n            background-color: {{ $json.primaryColor }};\n            color: white;\n            text-decoration: none;\n            padding: 14px 20px;\n            border-radius: 6px;\n            font-size: 16px;\n            font-weight: 600;\n            text-align: center;\n            margin: 20px auto 10px;\n            max-width: 250px;\n            transition: all 0.3s ease;\n            box-shadow: 0 4px 8px rgba({{ $json.primaryColor.replace('#', '').match(/.{1,2}/g).map(hex => parseInt(hex, 16)).join(', ') }}, 0.3);\n        }\n        \n        .action-button:hover {\n            background-color: {{ $json.accentColor }};\n        }\n        \n        .footer {\n            background-color: #0a1730;\n            padding: 20px;\n            text-align: center;\n            color: #7e9bff;\n            font-size: 13px;\n            border-top: 1px solid rgba(100, 150, 255, 0.2);\n        }\n        \n        .social-links {\n            margin: 12px 0;\n        }\n        \n        .social-links a {\n            display: inline-block;\n            width: 30px;\n            height: 30px;\n            background-color: rgba(100, 150, 255, 0.15);\n            border-radius: 50%;\n            margin: 0 5px;\n            line-height: 30px;\n            color: #7e9bff;\n            text-align: center;\n        }\n        \n        .social-icon {\n            width: 16px;\n            height: 16px;\n            vertical-align: middle;\n        }\n        \n        @media (max-width: 480px) {\n            .email-container {\n                border-radius: 10px;\n            }\n            \n            .top-header img {\n                max-width: 100px;\n            }\n            \n            .hero-section h1 {\n                font-size: 20px;\n            }\n            \n            .hero-section p {\n                font-size: 14px;\n            }\n            \n            .notification-card {\n                padding: 20px 15px;\n            }\n            \n            .info-item {\n                flex-direction: column;\n                align-items: flex-start;\n            }\n            \n            .info-label {\n                width: 100%;\n                margin-bottom: 6px;\n            }\n            \n            .info-value {\n                width: 100%;\n            }\n            \n            .action-button {\n                width: 100%;\n                padding: 12px 15px;\n                font-size: 15px;\n            }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"email-container\">\n        <div class=\"top-header\">\n            <img src=\"{{ $json.imageUrl }}\" alt=\"ZevenGlobal Logo\">\n        </div>\n        \n        <div class=\"hero-section\">\n            <h1>{{ $json.title }}</h1>\n            <p>{{ $json.subtitle }}</p>\n        </div>\n        \n        <div class=\"content\">\n            <div class=\"notification-icon\">\n                {{ $json.iconSvg }}\n            </div>\n            \n            <div class=\"notification-card\">\n                <h2>{{ $json.cardTitle || 'Details' }}</h2>\n                \n                <div class=\"notification-message\">\n                    {{ $json.bodyContent }}\n                </div>\n                \n                {{ $json.infoItemsHtml }}\n            </div>\n            \n            <p style=\"color: white; text-align: center; margin-bottom: 15px; font-size: 14px;\">{{ $json.ctaText }}</p>\n            \n            <a href=\"{{ $json.primaryButtonUrl }}\" target=\"_blank\" class=\"action-button\">{{ $json.primaryButtonText }}</a>\n        </div>\n        \n        <div class=\"footer\">\n            <p>© {{ new Date().getFullYear() }} ZevenGlobal - All rights reserved</p>\n            <div class=\"social-links\">\n                <a href=\"#\">\n                    <img class=\"social-icon\" src=\"https://cdn-icons-png.flaticon.com/512/124/124010.png\" alt=\"Facebook\">\n                </a>\n                <a href=\"#\">\n                    <img class=\"social-icon\" src=\"https://cdn-icons-png.flaticon.com/512/124/124021.png\" alt=\"Twitter\">\n                </a>\n                <a href=\"#\">\n                    <img class=\"social-icon\" src=\"https://cdn-icons-png.flaticon.com/512/174/174855.png\" alt=\"Instagram\">\n                </a>\n            </div>\n            <p>If you have any questions, contact us at <a href=\"mailto:{{ $('Global Constants').item.json.constants.EMAIL }}\" style=\"color: #3a9fff; text-decoration: none;\">{{ $('Global Constants').item.json.constants.EMAIL }}</a></p>\n        </div>\n    </div>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        460,
        -60
      ],
      "id": "d151f80b-d153-4333-b353-e0332f763ae5",
      "name": "Send Email",
      "webhookId": "476c93b6-7836-413d-ae1f-678d5d97c82b",
      "credentials": {
        "smtp": {
          "id": "ZS9NhafTpi5LRpMH",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "n8n_workflows",
  "repo_owner": "EliteCodeDev",
  "repo_path": "https://github.com/EliteCodeDev/n8n_workflows/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-05-03T17:07:49.000Z",
  "versionId": "2e557617-1a4d-4111-928d-107d4e1eeaec"
}